html {
    direction: rtl;
}

header, .center, footer {
    min-height: 80px;
    border: 2px solid black;
}

header {
    background-color: white;
    margin-bottom: 5px;
}

.header_top {
    min-height: 20px;
    display: flex;
    text-align: right;
}

.header_date {
    flex: 1;
    display: flex;
    flex-direction: column;
}

#DateLabel {
    flex: 1;
}

#DayImage {
    flex: 3;
    max-width: 60px;
    height: auto;
}


.main_nav {
    background-color: lightgray;
    min-height: 30px;
    padding-left: 100px;
    padding-right: 100px;
}

    .main_nav a {
        text-decoration: none;
        font-size: 24px;
        color: black;
        margin: 10px;
    }


.center {
    background-color: red;
    margin-bottom: 5px;
    display: flex;
}

main, aside {
    min-height: 300px;
}

main {
    background-color: white;
    flex: 4;
    color: black;
    padding: 5px 10px;
}


aside {
    background-color: red;
    flex: 1;
    padding: 5px;
    text-align: center;
}

footer {
    background-color: forestgreen;
}
